.game-buttons {
  position: fixed;
  height: 100dvh;
  width: 200px;
  text-align: center;
  padding: 10rem 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

button {
  height: 60px;
  border: none;
  border-radius: 0.5rem;
  color: black;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

button:disabled {
  opacity: 0.6;
}

img {
  width: 150px;
  border-radius: 0.5rem;
  object-fit: cover;
  margin: 2rem auto;
  aspect-ratio: 1/1;
}

@media (max-width: 1000px) {
  .game-buttons {
    position: static;
    padding: 0;
    grid-area: buttons;
    display: grid;
    justify-items: center;
    grid-template-areas:
      "diceOne . diceTwo"
      "new roll hold";
    gap: 0.3rem;
    grid-template-columns: 33% 33% 33%;
    height: 100%;
    width: 100%;
  }

  img {
    margin: 0;
    height: 10vh;
    width: 10vh;
  }

  img:first-of-type {
    grid-area: diceOne;
    margin-left: auto;
    transform: translateX(40px);
  }

  img:last-of-type {
    grid-area: diceTwo;
    margin-right: auto;
    transform: translateX(-40px);
  }

  button {
    width: 100%;
    font-weight: 700;
  }

  button:disabled {
    opacity: 0.6;
  }

  button:nth-of-type(1) {
    grid-area: new;

    background: rgba(5, 21, 116, 0.8); /* Light blue tint */
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  button:nth-of-type(2) {
    grid-area: roll;
  }

  button:nth-of-type(3) {
    grid-area: hold;
  }
}
