.current-score {
  background-color: rgba(2, 17, 51, 0.5);
  height: 50%;
  max-height: 160px;
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 0.5rem;
}

h3 {
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
}

p {
  font-size: clamp(1.4rem, 8.5vw, 2.5rem);
}

@media (max-width: 370px) {
  .current-score {
    width: 75%;
    max-width: 150px;
    max-height: 100px;
  }
}
