.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card.active {
  background-image: radial-gradient(
    circle at center,
    var(--secondary-color),
    var(--primary-color)
  );
  color: white;
}

.card > *:not(:last-child) {
  height: 50%;
}
