.p-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}

.player-title {
  font-size: clamp(0.6rem, 4vw, 4.5rem);
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

.player-score {
  font-size: clamp(0.6rem, 8vw, 5rem);
  text-align: center;
}

.winner-text {
  text-align: center;
  font-size: clamp(0.6rem, 4vw, 2.5rem);
  margin-top: -2rem;
  margin-bottom: 2rem;
}
