section {
  width: 100vw;
  height: 100dvh;
  max-width: 1400px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

section > *:not(p) {
  width: 50%;
}

.max-score {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
  .game-dashboard {
    display: grid;
    height: 80dvh;
    grid-template-areas:
      "playerOne playerTwo"
      "buttons buttons";
    grid-template-rows: 70% 30%;
  }

  section {
    width: 90%;
    padding: 1rem;
    border-radius: 0.5rem;
    min-height: auto;

    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .game-dashboard .card:first-of-type {
    grid-area: playerOne;
  }

  .game-dashboard .card:last-of-type {
    grid-area: playerTwo;
  }

  .max-score {
    top: -5%;
    width: 80%;
    font-size: clamp(0.6rem, 4vw, 3rem);
  }
}
