*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a2083;
  --secondary-color: #3562c4;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #252525, #110d0a);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
}
