.game-settings h3 {
  font-size: clamp(1.3rem, 7vw, 3rem);
  margin-bottom: 0.2rem;
}

input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: black;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.start-game-btn {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-game-btn:hover {
  background-color: var(--secondary-color);
}

.error-msg {
  color: firebrick;
  font-size: clamp(1.5rem, 5vw, 3.5rem);
}
