.game-rules h3 {
  font-size: clamp(1rem, 4.5vw, 3rem);
}

ul {
  padding: 0.8rem;
}

.game-rules li {
  font-size: clamp(0.7rem, 1.8vh, 1.5rem);
}

.game-rules li:not(:last-of-type) {
  margin-bottom: 0.6rem;
}
